<div class ="container" id = "main">
	<div class = "row">
		<div class="col-lg-12">
			
			<h1><%= @title %></h1>
			<div id = "wcontent1">
				
				<p1>
					<%= @welcomecontent1 %>
					<p></p>
					
					<%= @welcomecontent2 %>
				</p1>
				<ul>
					<li style="background:#bdffbd;">
						<%= @welcomecontent3 %>
					</li>
					<li>
						<%= @welcomecontent4 %>
					</li>
					<li style="background:#bdffbd;">
						<%= @welcomecontent5 %>
					</li>
					<li>
						<%= @welcomecontent6 %>
					</li>
					
				</ul>
				
			</div>
			
		</div>
	</div>	
</div>