<div class ="container" id = "main">

	<div class = "row">
	
		<div class="col-lg-12">
			
			<h1><%= @title %></h1>
			<p1><%= @content %></p1>
			<h2><%= link_to "About", '/about', :method => :get %></h2>
		
			<%= form_for :patient, url: patients_path do |f| %>
				<p>
					<%= f.label :first_name %>
					<%= f.text_field :firstname %>
				</p>
				<p>
					<%= f.label :second_name %>
					<%= f.text_field :secondname %>
				</p>
				<p>
					<%= f.label :date_of_birth %>
					<%= f.text_field :dateofbirth, "data-provide" => 'datepicker' %>
					
				</p>
				<p>
					<%= f.label :address %>
					<%= f.text_field :address %>
				</p>
				<p>
					<%= f.label :phone_number %>
					<%= f.text_field :phonenumber %>
				</p>
				<p>
					<%= f.label :illness %>
					<%= f.text_field :illness %>
				</p>
				<p>
					<%= f.label :relevant_medical_information %>
					<%= f.text_field :relevantmedicalinformation %>
				</p>
				<p>
					<%= f.label :next_of_kin_first_name %>
					<%= f.text_field :nextofkinfirstname %>
				</p>
				<p>
					<%= f.label :next_of_kin_secondname %>
					<%= f.text_field :nextofkinsecondname %>
				</p>
				<p>
					<%= f.label :next_of_kin_contact_number %>
					<%= f.text_field :nextofkincontactnumber %>
				</p>
				<p>
					<%= f.label :next_of_kin_address %>
					<%= f.text_field :nextofkinaddress %>
				</p>
				
				<p>
					
					<%= f.submit :'Submit New Patient' %>
					
				</p>
			<% end %>
		</div>
	</div>
</div>