<div class ="container" id = "main">

	<div class = "row">
	
		<div class="col-lg-12">
			
			<h1><%= @title %></h1>
			<p1><%= @content %></p1>

			<div id = "npform">
																	<!--required field and date picker added-->
				<%= form_for :patient, url: patients_path do |f| %>
					<p>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.label :first_name %><span id = "field">
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.text_field :firstname, :required => 'required' %>
						</div>				
					</p>
					<p>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.label :second_name %>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.text_field :secondname, :required => 'required' %>
						</div>
					</p>
					<p>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.label :date_of_birth %>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.text_field :dateofbirth, "data-provide" => 'datepicker', :required => 'required' %>
						</div>
					</p>
					<p>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.label :address %>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.text_field :address, :required => 'required' %>
						</div>
					</p>
					<p>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.label :phone_number %>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.text_field :phonenumber, :required => 'required' %>
						</div>
					</p>
					<p>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.label :illness %>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.text_field :illness, :required => 'required' %>
						</div>
					</p>
					<p>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.label :relevant_medical_information %>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.text_field :relevantmedicalinfo, :required => 'required' %>
						</div>
					</p>
					<p>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.label :next_of_kin_first_name %>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.text_field :nextofkinfirstname, :required => 'required' %>
						</div>	
					</p>
					<p>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.label :next_of_kin_second_name %>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.text_field :nextofkinsecondname, :required => 'required' %>
						</div>
					</p>
					<p>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.label :next_of_kin_contact_number %>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.text_field :nextofkincontactnumber, :required => 'required' %>
						</div>
					</p>
					<p>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.label :next_of_kin_address %>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<%= f.text_field :nextofkinaddress, :required => 'required' %>
						</div>
					</p>
		
					
					
						<p>
							<div id = "npfb">		
								<%= f.submit :'Submit New Patient' %>
							</div>	
						</p>
					
				</div>
					
			<% end %>
		</div>
	</div>
</div>