<div class ="container" id = "main">

	<div class = "row">
	
		<div class="col-lg-12">
			
			<h1><%= @title %></h1>
			
					
					<div id = "pplinks">
						<div id = "links">
							<%= link_to "Add New Patient", newpatient_path %></li>
							<%= link_to "View Patient Database", patientdb_path %></li>
						</div>
					</div>
				
			<p1>
				
				<p1>
					<div id = "ppimg">
						<%= image_tag "patients.png", alt: "pat_pic", class: "img-responsive"%>
					</div>
					
				</p1>
				<div id = "ppcontent1">
					<%= @patientspagecontent1 %>
				</div>
				
				
			</p1>
			
				
		</div>
	</div>
</div>