<h1>Show</h1>
<p><%= @patient.firstname %></p>
<p><%= @patient.secondname %></p>
<p><%= @patient.dateofbirth %></p>
<p><%= @patient.address %></p>
<p><%= @patient.phonenumber %></p>
<p><%= @patient.illness %></p>
<p><%= @patient.relevantmedicalinfo %></p>
<p><%= @patient.nextofkinfirstname %></p>
<p><%= @patient.nextofkinsecondname %></p>
<p><%= @patient.nextofkincontactnumber %></p>
<p><%= @patient.nextofkinaddress %></p>