<div class ="container" id = "main">
	<div class = "row">
		
		<div class="col-lg-12">
			
			<div id = "pdblistshow">
				</p>
				<%= link_to "Back to Database", patientdb_path %></li>
				</p>
				<%= link_to "Edit", edit_patient_path(@patient)%></li>
			</div>
					
			
			
			<div id ="shownewp">		
				<h1><%= @title %></h1>
				<h3>Patient ID: <%= @patient.id %></h3>
				<h3>First Name: <%= @patient.firstname %></h3>
				<h3>Second Name: <%= @patient.secondname %></h3>
				<h3>Date of Birth: <%= @patient.dateofbirth %></h3>
				<h3>Address: <%= @patient.address %></h3>
				<h3>Phone Number: <%= @patient.phonenumber %></h3>
				<h3>Illness: <%= @patient.illness %></h3>
				<h3>Relevant Medical Information: <%= @patient.relevantmedicalinfo %></h3>
				<h3>Next of Kin First Name: <%= @patient.nextofkinfirstname %></h3>
				<h3>Next of Kin Second Name: <%= @patient.nextofkinsecondname %></h3>
				<h3>Next of Kin Contact Number: <%= @patient.nextofkincontactnumber %></h3>
				<h3>Next of Kin Address: <%= @patient.nextofkinaddress %></h3>
				<h3>Created: <%= @patient.created_at.strftime("%B %d %Y, %l:%M%P") %></h3>
				
				
			<div id ="shownewp">
			
			
		</div>
	</div>
</div>